body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  color: #000;

}

h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  line-height: 18px;
}

header {
  background-color: #000;
  margin-bottom: 55px;
}

.layout-positioner {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  float: left;
  width: 140px;
  margin-right: 20px;
  padding-top: 23px;
  padding-bottom: 25px;
}

.main-navigation {
  float: left;
  width: 620px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation li{
  float: left;
  margin-right: 40px;
  padding-top: 27px;
  padding-bottom: 25px;
  list-style: none;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.user-block {
  float: right;
  width: 140px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.breadcrumbs li {
  float: left;
  margin-right: 40px;
  list-style: none;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.product-filter {
  float: left;
  width: 175px;
}

.catalog-content {
  float: right;
  width: 700px;
}

.catalog-product {
  font-size: 0;
}

.product {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 14px;
}

.product:nth-child(3n) {
  margin-right: 0;
}

.product:last-child {
  margin-bottom: 45px;
}

.pagination {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.pagination li {
  float: left;
  list-style: none;
}

.gallery {
  float: left;
  width: 460px;
  font-size: 0;
}

.gallery-main-img {
  max-width: 460px;
  max-height: 498px;
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery-small-img {
  display: inline-block;
  max-width: 140px;
  max-height: 149px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 50px;
}

.gallery-small-img:last-child {
  margin-right: 0;
}

.gallery-img {
  display: block;
  width: 100%;
}

.full-description {
  float: right;
  width: 390px;
}

.footer-contacts {
  float: left;
  width: 310px;
  margin-right:90px;
}

.footer-social {
  float: left;
  width: 140px;
}

.footer-copyright {
  float: right;
  width: 140px;
}

footer {
  padding-top: 60px;
  padding-bottom: 40px;
}
